@font-face {
    font-family: 'OpenSansEmoji';
    src: url('/fonts/opensansemoji-webfont.woff2') format('woff2'),
         url('/fonts/opensansemoji-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}