.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
    /*Need to absorb .block bottom margin*/
}
.block {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
    &__half {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &__third {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    &__fourth {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
html {
    body {
        .flex {
            display: flex;
        }
    }
}
.hidden-xs,
.hidden-sm {
    display: none;
}
@media screen and (min-width: 576px) {
    .block {
        &__half {
            &--xs {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__third {
            &--xs {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
        }
        &__fourth {
            &--xs {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
    .hidden-xs {
        display: inline-block;
    }
    .visible-xs {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .block {
        &__half {
            &--sm {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__third {
            &--sm {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
        }
        &__fourth {
            &--sm {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
    .hidden-sm {
        display: inline-block;
    }
    .visible-sm {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .block {
        &__half {
            &--md {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__third {
            &--md {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
        }
        &__fourth {
            &--md {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .block {
        &__half {
            &--lg {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__third {
            &--lg {
                flex: 0 0 33.3333%;
                max-width: 33.3333%;
            }
        }
        &__fourth {
            &--lg {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
}