.h1 {
    &__title {
        position: relative;
        font-family: 'Bungee Shade', cursive;
    }
    &__title.menu {
        font-size: 3em;
        margin: 5px 0 0;
    }
}
#nav {
    border-bottom: 1px solid #f7f7f7;
    .block {
        margin: 0;
    }
    ul {
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            float: right;
            cursor: pointer;
            display: block;
            margin: 0 0 0 15px;
            transition: display 2s 1s;
            a {
                display: block;
                padding: 20px 10px;
            }
            .sub-menu {
                display: none;
                position: absolute;
                top: 64px;
                left: 0;
                width: 100%;
                background: #fff;
                border: 1px solid #f7f7f7;
                li {
                    float: none;
                    margin: 0;
                }
                a {
                    padding: 5px 10px;
                }
                .skill {
                    padding: 10px;
                }
            }
            &:hover {
                .sub-menu {
                    display: block;
                }
            }            
        }
        .col {
            float: left;
            width: 50%;
        }
    }
}