$white: #ffffff;
$blue: #1c72b8;
$block_bottom_padding: 30px;
$button_green: #6bd06b;

@import 'resets';
@import 'animations';
@import 'grid';
@import 'font-face';
@import 'typography';
@import 'emoticons';
@import 'components/components';
@import 'header';
@import 'forms';
@import 'about-header';
@import 'about';
@import 'login';

a {
    color: $blue;
    text-decoration: none;
}

.center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 5px;
    color: $white;
    &__back-home {
        position: fixed;
        bottom: 30px;
        left: 30px;
        border-radius: 50%;
        padding: 10px;
        margin: 0;
        width: 44px;
        text-align: center;
    }
}
.btn:hover {
    animation: none;
    background-color: transparent;
    color: $blue;
}

code.inline {
    border: 1px solid $white;
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 3px 0 0;    
}
