* {
  box-sizing: border-box; }

html {
  padding: 0; }

html,
body {
  margin: 0; }

html,
body {
  height: 100%; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  /*Need to absorb .block bottom margin*/ }

.block {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px; }
  .block__half {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth {
    flex: 0 0 25%;
    max-width: 25%; }
  .block__three-fourth {
    flex: 0 0 75%;
    max-width: 75%; }

html body .flex {
  display: flex; }

.hidden-xs,
.hidden-sm {
  display: none; }

@media screen and (min-width: 576px) {
  .block__half--xs {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--xs {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--xs {
    flex: 0 0 25%;
    max-width: 25%; }
  .block__three-fourth {
    flex: 0 0 75%;
    max-width: 75%; }
  .hidden-xs {
    display: inline-block; }
  .visible-xs {
    display: none; } }

@media screen and (min-width: 768px) {
  .block__half--sm {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--sm {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--sm {
    flex: 0 0 25%;
    max-width: 25%; }
  .block__three-fourth {
    flex: 0 0 75%;
    max-width: 75%; }
  .hidden-sm {
    display: inline-block; }
  .visible-sm {
    display: none; } }

@media screen and (min-width: 992px) {
  .block__half--md {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--md {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--md {
    flex: 0 0 25%;
    max-width: 25%; }
  .block__three-fourth {
    flex: 0 0 75%;
    max-width: 75%; } }

@media screen and (min-width: 1200px) {
  .block__half--lg {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--lg {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--lg {
    flex: 0 0 25%;
    max-width: 25%; }
  .block__three-fourth {
    flex: 0 0 75%;
    max-width: 75%; } }

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100%; }

.menu__base {
  width: 75px;
  background: #1c72b8; }

.menu__controls {
  width: 250px;
  background: #eeeeee; }

#admin-body {
  width: 100%;
  padding: 2em; }

body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 1em 0; }

ul,
ol {
  padding-left: 18px;
  margin-top: 0; }
  ul li,
  ol li {
    line-height: 1.5em; }

.menu__base {
  padding: 0 1em; }
  .menu__base--list {
    list-style-type: none;
    padding: 0;
    margin: 1em 0; }
  .menu__base--item {
    line-height: 3em; }
    .menu__base--item a {
      display: block;
      color: #ffffff;
      font-size: 2em;
      text-align: center; }
    .menu__base--item:last-child {
      margin-top: 2em; }

.menu__controls {
  padding: 1em; }

.btn-admin {
  display: block;
  background: #6bd06b;
  border: 0;
  width: 100%;
  font-size: 0.8em;
  padding: 1em;
  margin: 0;
  color: #ffffff;
  text-decoration: none; }
  .btn-admin:hover {
    background: #65b965; }

.btn-inline {
  display: inline; }

.btn-sm {
  padding: 0.5em; }

.btn-control {
  background-color: #1c72b8; }
  .btn-control:hover {
    background-color: #1b639e; }

.control-container {
  text-align: right; }
  .control-container label {
    margin-left: 30px; }
    .control-container label:nth-child(1) {
      margin-left: 0; }
  .control-container select {
    font-size: 1em;
    border: 1px solid #cccccc; }
  .control-container #control-saving {
    display: none;
    color: #cccccc; }

input[name="seo_index"] {
  display: inline; }

#seo,
#revisions {
  display: none; }

.menu-btn {
  background-color: #eeeeee;
  color: #1c72b8; }
  .menu-btn:hover {
    background-color: #e0e0e0; }

.menu-btn.active {
  background-color: #e0e0e0; }

#editor input[type="text"],
#editor textarea,
#seo input[type="text"],
#seo textarea,
#revisions input[type="text"],
#revisions textarea {
  font-size: 1.5em;
  width: 100%;
  line-height: 1.5em;
  padding: 0 0.25em;
  border: 1px solid #cccccc; }

#editor {
  height: calc(100% - 115px); }
  #editor p {
    width: 100%;
    padding: 0 15px; }
  #editor textarea {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 15px;
    height: 100%; }

.admin-table {
  width: 100%;
  border-collapse: collapse; }
  .admin-table thead th:nth-child(1) {
    width: 47px; }
  .admin-table thead th:nth-child(5) {
    width: 120px; }
  .admin-table tbody tr:nth-child(odd) {
    background-color: #eeeeee; }
  .admin-table tbody tr.lesson-row {
    display: none;
    background-color: #f7f7f7; }
  .admin-table tbody td {
    margin: 0;
    padding: 1em; }
    .admin-table tbody td:nth-child(5) {
      text-align: center; }
  .admin-table .expander {
    cursor: pointer; }

.title-row .block {
  margin: 0; }

/*# sourceMappingURL=admin.css.map */
