* {
  box-sizing: border-box; }

html {
  padding: 0; }

html,
body {
  margin: 0; }

@keyframes swell {
  0% {
    font-size: 3.5em; }
  50% {
    font-size: 3.6em; } }

@keyframes increase-five-pixels {
  0% {
    font-size: 30px; }
  100% {
    font-size: 35px; } }

@keyframes disolve_decoration {
  0% {
    border-bottom-color: white; }
  100% {
    border-bottom-color: rgba(255, 255, 255, 0); } }

@keyframes emoji-madness {
  0% {
    content: "\1F61B"; }
  25% {
    content: "\1F61C"; }
  50% {
    content: "\1F61D"; }
  75% {
    content: "\1F606"; }
  100% {
    content: "\1F60E"; } }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  /*Need to absorb .block bottom margin*/ }

.block {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px; }
  .block__half {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth {
    flex: 0 0 25%;
    max-width: 25%; }

html body .flex {
  display: flex; }

@media screen and (min-width: 576px) {
  .block__half--xs {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--xs {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--xs {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 768px) {
  .block__half--sm {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--sm {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--sm {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 992px) {
  .block__half--md {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--md {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--md {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 1200px) {
  .block__half--lg {
    flex: 0 0 50%;
    max-width: 50%; }
  .block__third--lg {
    flex: 0 0 33.3333%;
    max-width: 33.3333%; }
  .block__fourth--lg {
    flex: 0 0 25%;
    max-width: 25%; } }

@font-face {
  font-family: 'OpenSansEmoji';
  src: url("/fonts/opensansemoji-webfont.woff2") format("woff2"), url("/fonts/opensansemoji-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: 1em; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.5em; }

h5 {
  font-size: 2em; }

h6 {
  font-size: 1.5em; }

p {
  margin: 0 0 1em 0; }

ul,
ol {
  padding-left: 18px;
  margin-top: 0; }
  ul li,
  ol li {
    line-height: 1.5em; }

.emoji {
  font-family: OpenSansEmoji;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.em-grinning-face:before {
  content: '\1F600'; }

.em-grinning-face-smiling-eyes:before {
  content: '\1F601'; }

.em-grinning-face-tears-of-joy:before {
  content: '\1F602'; }

.em-smiling-face-open-mouth:before {
  content: '\1F603'; }

.em-smiling-face-open-mouth-smiling-eyes:before {
  content: '\1F604'; }

.em-smiling-face-open-mouth-cold-sweat:before {
  content: '\1F605'; }

.em-smiling-face-open-mouth-tightly-closed-eyes:before {
  content: '\1F606'; }

.em-winking-face:before {
  content: '\1F609'; }

.em-smiling-face-smiling-eyes:before {
  content: '\1F60A'; }

.em-smiling-face-savory-food:before {
  content: '\1F60B'; }

.em-tounge-stuck-out:before {
  content: '\1F61B'; }

.em-tounge-stuck-out-winking-eye:before {
  content: '\1F61B'; }

.em-tounge-stuck-out-tighly-closed-eyes:before {
  content: '\1F61D'; }

.em-sunglasses:before {
  content: '\1F60E'; }

.overlay-box__flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d; }
  .overlay-box__flipper:before {
    content: '';
    display: block;
    padding-top: 100%; }

.overlay-box:hover .overlay-box__flipper {
  transform: rotateY(180deg); }

.overlay-box__cover, .overlay-box__details {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 3em;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 3px; }
  .overlay-box__cover:before, .overlay-box__details:before {
    content: '';
    display: block;
    padding-top: 100%; }

.overlay-box__cover {
  z-index: 2;
  transform: rotateY(0deg);
  background-color: #ffffff; }
  .overlay-box__cover i {
    color: #1c72b8;
    font-size: 10em;
    font-size: 14vw; }

.overlay-box__details {
  transform: rotateY(180deg); }

.overlay-box h4,
.overlay-box p {
  text-align: center; }

.h1__title {
  position: relative;
  font-family: 'Bungee Shade', cursive;
  margin-top: 0.25em;
  line-height: 150px; }
  .h1__title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 275px;
    height: 150px;
    width: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: #fff url("/img/headshot.jpg") center no-repeat;
    font-size: 172px;
    line-height: 172px;
    text-indent: -11px; }
  .h1__title:hover:before {
    animation: emoji-madness 0.5s forwards; }

#skills-expertise h2 {
  animation: swell 5s infinite; }

.mustache {
  transform: rotate(83deg); }

.header {
  justify-content: center;
  align-items: center; }
  .header a {
    position: relative;
    font-size: 36px;
    margin-left: 15px;
    border-bottom: 0px solid #fff; }
    .header a:hover:before, .header a:hover:after {
      display: block; }
    .header a:before, .header a:after {
      display: none;
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-size: 12px;
      left: calc(50% - 6px); }
    .header a:before {
      content: '\f078';
      top: -12px; }
    .header a:after {
      content: '\f077';
      bottom: -12px; }
  .header div:nth-child(1) {
    margin-right: 15px; }

#headshot {
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-top: 1em; }

.mright,
.mleft {
  display: inline-block; }

.mright {
  margin-right: 90px; }

.mleft {
  margin-left: 90px; }

body {
  color: #ffffff;
  background: linear-gradient(#1ea6be, #1c72b8) fixed; }

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid white; }
  a:hover {
    animation: disolve_decoration 1s linear forwards; }

.center {
  text-align: center; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  color: #1c72b8; }

.btn:hover {
  animation: none;
  background-color: transparent;
  color: #ffffff; }

/*# sourceMappingURL=main.css.map */
